@import "../../style/variables.scss";

.app-banner {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    align-items: center;

    column-gap: 20px;
    padding: 5px 20px;

    background-color: $dark;
    &__text {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        color: #ffffff;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 540px) {
    .app-banner {
        &__decoration {
            display: none;
        }
        display: grid;
        grid-template-columns: 1fr auto;
        justify-items: space-between;

        padding: 0 20px;
        &__text {
            font-size: 20px;
            line-height: 24px;
        }
        &__Logo {
            width: 100px;
            height: 80px;
        }
    }
}
