.comics {
  &__list {
    margin-top: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: space-between;
    row-gap: 40px;

    margin-bottom: 20px;
  }

  &__item {
    overflow: hidden;

    border-radius: 5px;

    transition: 0.3s transform;
    transition-delay: 0;
    &:hover {
      transform: scale(1);
      transition-delay: 0;
      box-shadow: 0 5px 15px 5px rgba(192, 2, 2, 0.5);
    }
    &-img {
      max-width: 100%;

      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    }

    &-name {
      padding: 5px;
      margin-top: 10px;

      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }

    &-price {
      padding: 5px;
      margin-top: 5px;

      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
    }
  }
}

@media (max-width: 768px) {
  .comics {
    &__list {
      margin-top: 45px;
    }

    &__grid {
      grid-template-columns: repeat(auto-fill, 200px);

      justify-content: center;
      gap: 20px 10px;
    }
  }
}
@media (max-width: 470px) {
  .comics {
    &__list {
    }

    &__grid {
      grid-template-columns: repeat(auto-fill, 250px);
      justify-items: center;
      gap: 20px 10px;
    }
  }
}

.my-comics-enter {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transform: translateY(300px);
}

.my-comics-enter-active {
  opacity: 1;
  visibility: visible;
  transform: scale(0.98);
  transition: all 700ms;
}

.my-comics-exit {
  visibility: visible;
  opacity: 1;
  transform: scale(0.98);
}

.my-comics-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: all 700ms;
  transform: scale(0.5);
}

.my-comics-enter-done {
  transform: scale(0.98) translateY(0px);
}

.my-comics-button-enter-active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all 700ms;
}

.my-comics-button-exit {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.my-comics-button-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: all 700ms;
  transform: scale(0.5);
}

.my-comics-button-enter-done {
  transform: scale(1) translateY(0px);
}
