@import "../../style/variables.scss";

.char {
  &__content {
    position: relative;

    display: grid;
    grid-template-columns: 3fr 2fr;

    column-gap: 10px;
    margin-top: 30px;
  }

  &__flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 15px;

    margin-bottom: 30px;
  }

  &__item {
    height: 300px;
    width: 200px;

    cursor: pointer;
    overflow: hidden;

    border-radius: 8px;
    background-color: $dark;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

    transition: 0.1s linear;

    div {
      height: 80%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      transition: all 0.1s linear;
      transform: scale(1.05);
      box-shadow: 0 5px 15px 5px rgba(192, 2, 2, 0.5);
    }
    &:focus {
      box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 1);
    }
    &.active {
      bottom: 4px;
      box-shadow: 0px 4px 20px rgba(244, 10, 0, 1);
    }

    &_selected {
      box-shadow: 0 5px 20px $main-color;
      transform: translateY(-8px);
    }
  }

  &__name {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
  }
}
@media (max-width: 805px) {
  .char {
    &__content {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 20px;
    }

    &__flex {
    }
    &__item {
      div {
        img {
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .char {
    &__content {
    }

    &__flex {
      grid-template-columns: repeat(auto-fit, 250px);
      justify-items: center;
    }

    &__item {
      width: 100%;
      height: 100%;
      div {
        min-width: 100%;
        height: 80%;
        img {
        }
      }
    }
  }
}

@media (max-width: 585px) {
  .char {
    &__content {
    }
  }
}
@media (max-width: 472px) {
  .char {
    &__content {
    }

    &__flex {
    }

    &__item {
      div {
        img {
        }
      }
      &_selected {
      }
    }

    &__name {
    }
  }
}

@media (max-width: 320px) {
  .char__info-block {
  }
  .char {
    &__content {
    }

    &__flex {
    }

    &__item {
      div {
        // height: 220px;
        img {
          // max-width: 100%;
          // height: 100%;
          // object-fit: cover;
        }
      }
      &_selected {
      }
    }

    &__name {
    }
  }
}

// Animation
.my-char-enter {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-650px) rotate(-90deg);
}

.my-char-enter-active {
  opacity: 1;
  visibility: visible;
  transition: all 700ms;
  transform: translateX(0px) rotate(0deg);
}

.char__item.my-char-done {
  transform: translateX(0px), rotate(0);
}
