@import '../../style/variables.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .preloader {
        text-align: center;
        height: 100px;
        width: 100px;
        border: 20px dashed pink;
        border-radius: 10px;
        animation: spinner 0.5s infinite;
    }
}

@keyframes spinner {
    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}