@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
#root,
html,
img {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &:hover {
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#root {
    min-height: 100%;
    overflow: hidden;
}

.app {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    min-height: 100%;
}

main {
    position: relative;
    margin-top: 50px;
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite;
}

.bg-decoration {
    pointer-events: none;
    position: absolute;
    right: -104px;
    bottom: -300px;
    z-index: 1;
    user-select: none;
    visibility: hidden;
    opacity: 0;
    animation: bgimg 1.5s ease-in-out .5s forwards;
}

@keyframes bgimg {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        bottom: -70px;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}