@import "../../style/variables.scss";

.randomchar {
  display: grid;
  grid-template-columns: 55% 45%;

  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.35);
  &__block {
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 15px;

    padding: 30px 10px 30px 30px;

    background-color: #fff;
  }
  &__img {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  &__info {
    display: grid;
    grid-template-rows: 50px auto auto;
    align-items: center;

    min-height: 150px;
  }
  &__name {
    font-size: 22px;
    line-height: 29px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    a:nth-child(1) {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  &__static {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px;

    overflow: hidden;
    background-color: $dark;
    button {
      position: relative;
      z-index: 2;

      max-width: 100px;

      margin: 10px auto 0;
    }
  }
  &__title {
    position: relative;
    z-index: 2;

    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.045em;
    font-weight: bold;
    color: #fff;

    &:nth-child(1) {
      margin-bottom: 25px;
    }
  }

  &__decoration {
    position: absolute;
    bottom: 14px;
    right: -37px;
  }
}

@media (max-width: 768px) {
  .randomchar {
    display: flex;
    flex-direction: column;
    &__name {
      font-size: 26px;
    }
    &__btns {
      a:nth-child(1) {
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 480px) {
  .randomchar {
    &__block {
      grid-template-columns: none;
      grid-template-rows: 1fr minmax(120px, auto);
      justify-items: center;
      gap: 0 15px;

      padding: 20px;
    }
    &__img {
      width: 250px;
      height: 250px;
    }
    &__info {
      display: block;

      margin-top: 15px;
    }
    &__name {
      margin-bottom: 5px;

      text-align: center;
    }
    &__descr {
      margin-bottom: 20px;
    }
    &__btns {
      display: flex;
      justify-content: center;
    }
    &__static {
      padding: 20px;
    }
  }
}

@media (max-width: 320px) {
  .randomchar {
    &__block {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__img {
      width: 200px;
      height: 200px;
    }
  }
}
